@{
    ViewBag.Title = "Thông tin ứng dụng";
}
<style>
    /* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content-about {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    color: #f1f1f1;
    width: 100%;
    left: 0;
    min-height: 600px;
    text-align: center;
    bottom: 0;
    top: 0;
    padding-top: 160px;
}
</style>
<!-- The video -->
<video autoplay muted loop id="myVideo">
    <source src="@Url.Content("~/videos/about.mp4")" type="video/mp4">
</video>

<!-- Optional: some overlay text to describe the video -->
<div class="content-about">
    <h3>Đồ án:</h3>
    <h1>Xây dựng ứng dụng khai báo thông tin thuyền viên</h1>
    
    <p>.....</p>
</div>