@using TTHangHai.Models;
@if (Session["taiKhoan"] != null)
{

    <ul class="nav navbar-nav navbar-right">
        <li>@{
            tb_taikhoan taiKhoan = (tb_taikhoan)Session["taiKhoan"];
        }
            <a href="#">Xin chào, @taiKhoan.TenDangNhap</a>
        </li>
        <li><a href="@Url.Action("DangXuat","TaiKhoan")">Đăng xuất</a></li>
    </ul>
    
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Đăng ký", "PhuongThucDangKy", "TaiKhoan", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Đăng nhập", "Login", "TaiKhoan", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
