

<h4>Cảnh báo đăng nhập</h4>
<hr />

<div>
    <p>
        Bạn có thể lựa chọn một trong 3 hình thức đăng ký. Tài khoản cá nhân chỉ cho phép thực hiện các thủ tục hành chính dành cho cá nhân. Tài khoản đại diện cho tổ chức chỉ cho phép thực hiện các thủ tục hành chính dành cho đối tượng là tổ chức. Tài khoản đại diện cho tổ chức quản lý thuyền viên dành cho việc khai báo thông tin thuyền viên xuống, rời tàu.
    </p>
</div>
