@{
    ViewBag.Title = "Thông Báo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h1>Bạn đã đăng ký thành công</h1>
<h4>Hãy chờ các cơ quan phê duyệt</h4>
<p><a href="@Url.Action("Index","Home")">Trang chủ</a> | <a href="@Url.Action("About","Home")">Thông tin</a></p>

